
[Desktop Entry]
Version=0.2
Name=Bullseye Qt
GenericName=Bullseye Media Manager
Comment=Manage media files by modules (Music, Pictures, Videos)
Exec=bullseye-qt
Terminal=false
Type=Application
Icon=bullseye.png
Categories=AudioVideo;Audio;Music;Player;GTK;
